@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma.sass";

// html {
//   background-color: $blue;
// }

.bulma-arrow-mixin {
  @include arrow(black);
}

.bulma-delete-mixin {
  @include delete;
}

// 垂直水平居中
.bulma-center-mixin {
  @include center($width: 30);
}

.cursor-pointer {
  cursor: pointer;
  pointer-events: auto; // 禁止鼠标穿透。 设为none就是鼠标穿透
}

#left,
#right {
  background-color: #e8e8e8;
  float: left;
  height: 100%;
  width: 50%;
  /* padding-left: 20px; */
  /* padding-right: 100px; */
  /* padding-top: 149px; */
  /* position: relative;  */
}

.tab-content {
  display: none;
}

// 纯CSS实现的Tabs，但是逻辑稍微复杂了点，步骤也多，不方便复用
#tabFrame input[name="tabRadio"],
#tabContent [class^="tabContent_"] {
  display: none;
}

#tab_1:checked ~ #tabContent .tabContent_1,
#tab_2:checked ~ #tabContent .tabContent_2 {
  display: block;
}

#tab_1:checked ~ .tabTitle #tabTitle_1,
#tab_2:checked ~ .tabTitle #tabTitle_2 {
  background: #dbdbdb;
}

.tabTitle label {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: #b1b1b1;
  float: left;

  line-height: 40px;
  width: 70px;
  height: 40px;
}

.textCenter {
  text-align: center;
}

.tabTitle label:hover {
  background: #e8e8e8;
}

.marginTopSmall {
  margin-top: 10px;
}

.marginTopMid {
  margin-top: 20px;
}

.marginTopLarge {
  margin-top: 30px;
}

.marginLeftSmall {
  margin-left: 20px;
}

.marginLeftMid {
  margin-left: 40px;
}

.marginLeftLarge {
  margin-left: 60px;
}

.marginRightSmall {
  margin-right: 10px;
}

.marginRightMid {
  margin-right: 20px;
}

.marginRightLarge {
  margin-right: 30px;
}

/* 三角形 */
.tri {
  width: 0px;
  height: 0px;
  /* background-color: #FF0000; */
  background-color: transparent;
  border: 20px solid rgb(85, 160, 27);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  cursor: pointer;
}
